*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
  font-family: "B612", sans-serif;
  font-weight: 700;
  font-style: italic;
  height: 100vh;
}

nav.menu-lateral{
    width: 60px;
    height: 100%;
    background-color: rgb(234, 232, 232);
    padding: 40px 0px 40px 1%;
    box-shadow: 3px 0px 0px #F78008;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .2s ;
    z-index: 1;
}

nav.menu-lateral:hover{
    width: 300px;
    z-index: 1;
}

.btn-expandir{
    width: 100%;
    padding-left: 10px;
    z-index: 1;
}

.btn-expandir > i{
    color: black;
    font-size: 24px;
    cursor: pointer;
    z-index: 1;
}

ul{
    height: 100%;
    list-style-type: none;
    z-index: 1;
}

ul li.item-menu{
    transition: .1s;
    z-index: 1;
}

ul li.item-menu:hover{
    background-color: #F78008;
    z-index: 1;
}

ul li.item-menu a{
    color: black;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    margin-bottom: 20px;
    line-height: 40px;
    z-index: 1;
}

ul li.item-menu a .text-link{
    margin-left: 20px;
    z-index: 1;
}

ul li.item-menu a .icon > i{
    font-size: 30px;
    z-index: 1;

}

.modulo {
      background: #f57c00;
      color: white;
      padding: 10px 20px;
      border-radius: 6px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 300px;
      font-size: 14px;
      font-weight: bold;
      margin-left: auto;
      margin-right: auto;
    }

    .modulo span {
      font-size: 16px;
    }

    .progresso{
        background: #f57c00;
        color: white;
        padding: 10px 20px;
        border-radius: 6px;
        display: flex;
        margin-top: 10%;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        align-items: center;
        width: 65%;
        height: 30%;
        font-size: 14px;
        font-size: bold;
        margin-left: auto;
        margin-right: auto;
    }

    .cinza{
        width: 16%;
        justify-content: center;
        position: relative;
        align-items: center;
        margin-top: -2%;
        margin-left: 5%;
        display: flex;
        transform: translateX(400px);
        cursor: pointer;
    }

    .amarela{
        width: 16%;
        padding: 4px 4px;
        justify-content: center;
        position: relative;
    }

    .btn{
        color: white;
        background-color: #f57c00;
        border: black 2px;
        outline: none;
        margin-top: auto;
        padding-left: 10px;
        margin-right: 117px;
        transform: translateX(-361px); 
        text-align: center;
        align-items: center;
        margin-top: 15%;  
    }
